body {
    font-family: 'Source Code Pro', monospace;
    background-color: #121212;
    color #999;
    margin-left: 2%;
    margin-right: 2%;
}

h1 {
    color: #00ff00;
    font-size: 20px;
    margin-top:2px;
    padding-top:2px;
    padding-bottom:8px;
}

p,ul,ol,blockquote  {
    color: #00ff00;
    font-size: 16px;
}

a {
    color: #00ff00;
    font-size: 16px;
    font-weight: bold;
}

span {
    font-style: italic;
    font-size: 16px; /* Adjust this value as needed */
    color: #999; /* Optional: change color to a lighter shade */
}

.go_back{
    color: #999;
    font-size: 16px;
}

.content {
    max-width: 90%; /* Sets the maximum width to 50% of the page */
    text-align: left; /* Centers the content horizontally */
    padding: 0px; /* Optional: Adds some padding around the text */
}